graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .env

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml .appveyor.yml .readthedocs.yml .pre-commit-config.yaml

global-exclude *.py[cod] __pycache__/* *.so *.dylib Dockerfile Dockerfile.*

# added by check_manifest.py
recursive-include src *.py

# added by check_manifest.py
include *.md

# added by check_manifest.py
recursive-include examples *.pem

# added by check_manifest.py
include *.txt

# added by check_manifest.py
include *.png

# added by check_manifest.py
recursive-include tests *.js
